{% extends "bootstrap/base.html" %}<!--继承基础模板-->

{% block content %}<!--自定义模板区域-->
<!-- page content -->
<div class="row" style="width:100%">
    <div class="right_col" role="main">
    <div class="col-md-6 col-sm-6 col-xs-12" style="width:90%">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Wireless PC Summary <small>
                          Note: Owner and password will be reset every Saturday, please re-engage the WPC again. </small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                            </ul>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">

                        <table class="table table-bordered">
                          <thead>
                            <tr>
                                <th scope="col" >No.</th>
                                <th scope="col" >IP</th>
                                <th scope="col" >OS</th>
                                <th scope="col" >NIC</th>
                                <th scope="col" >PC Password</th>
                                <th scope="col" >Take Up It?</th>
                                <th scope="col" >Current Owner</th>
                                <th scope="col" >Status</th>
                            </tr>
                          </thead>
                          <tbody>
                             {% for wpc in wpcinfo %}
                              <tr>
                              <td >{{ wpc.wpc_id }}</td>
                              <td >{{ wpc.wpc_ip }}</td>
                              <td >{{ wpc.wpc_os }}</td>
                              <td >{{ wpc.wpc_nic}}</td>
                              <td >
                              {% if wpc.wpc_user == username %}
                                  {{ wpc.wpc_pwd}}
                              {% else %}
                                  ********
                              {% endif %}
                              </td>
                              <td ><div title=" If you want occupy the device, yes it ! Password will be reset every Saturday.">
                                  <script language="javascript">
                                    function dutoccupy()
                                    {
                                      if(window.confirm("Are you sure you want to occupy/release this device？"))
                                      {
                                       return true;
                                      }
                                      else
                                      {
                                        return false;
                                      }
                                    }
                                  </script>
                                  <form action="/phywpc" method="post">
                                          {% if wpc.wpc_owner == "released" %}
                                            <input type="hidden" name="wpcid" value="{{ wpc.wpc_id }}">
                                            <input type="hidden" name="wpcowner" value="occupied">
                                            <button type="submit" value="Submit" onclick="return dutoccupy()"><b>Occupy</b></button>
                                          {% else %}
                                              <input type="hidden" name="wpcid" value="{{ wpc.wpc_id }}">
                                              <input type="hidden" name="wpcowner" value="released">
                                              <button type="submit" value="Submit" onclick="return dutoccupy()"><b>Release</b></button>
                                          {% endif %}
                                      </form>
                                  </div>
                              </td>
                              <td ><font size="2" color="ForestGreen">{{ wpc.wpc_user }}</font></td>
                              {% if wpc.wpc_power == "linkup" %}
                                  <td><img src="static/images/green_led.png"> <b>Link Up</b></td>
                              {% else %}
                                  <td><img src="static/images/red_led.png"> <b>Link Down</b></td>
                              {% endif %}
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>

                      </div>
                    </div>
      </div>
<!--    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--        <div class="x_panel">-->
<!--            <div class="x_title">-->
<!--                <h2>Operated Log <small>Displays configure result for all users</small></h2>-->
<!--                <ul class="nav navbar-right panel_toolbox">-->
<!--                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>-->
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
<!--                        <ul class="dropdown-menu" role="menu">-->
<!--                          <li><a href="#">Settings 1</a></li>-->
<!--                          <li><a href="#">Settings 2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>-->
<!--                </ul>-->
<!--                <div class="clearfix"></div>-->
<!--            </div>-->
<!--            <div class="x_content">-->
<!--                <p>All log <code>log_point</code> will show from last Week to now.</p>-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-striped jambo_table bulk_action" width="100%">-->
<!--                        <thead>-->
<!--                          <tr class="headings">-->
<!--                            <th width="2%"><input type="checkbox" id="check-all" class="flat"></th>-->
<!--                            <th class="column-title" width="6%">Users </th>-->
<!--                            <th class="column-title" width="8%">Type </th>-->
<!--                            <th class="column-title" width="13%">Device </th>-->
<!--                            <th class="column-title">Operated </th>-->
<!--                            <th class="column-title" width="15%">Local Time</th>-->
<!--                          </tr>-->
<!--                        </thead>-->
<!--                    </table>-->
<!--                    <div class="pre-scrollable" style="height: 490px;overflow: auto; margin-top: -22px;">-->
<!--                    <table class="table table-striped jambo_table bulk_action table-hover">-->
<!--                        <tbody>-->
<!--                        {% for log in logs %}-->
<!--                          <tr class="even pointer">-->
<!--                            <td class="a-center ">-->
<!--                              <input type="checkbox" class="flat" name="table_records">-->
<!--                            </td>-->
<!--                            <td class=" ">{{ log.svname }}</td>-->
<!--                            <td class=" ">{{ log.type }}</td>-->
<!--                            <td class=" ">{{ log.device }}</td>-->
<!--                            <td class=" last">{{ log.operated }}</td>-->
<!--                            <td class=" last">{{ log.time }}</td>-->
<!--                          </tr>-->
<!--                        {% endfor %}-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    </div>
</div>

<!-- /page content -->

{% endblock %}


